{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}



{% block content %}
<main class="container-fluid">
    <!-- HEADER -->
    <div class="header position-relative">
        <div class="header-bg position-absolute">
            <img src="{% static 'img/contact-img.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="header-overlay position-absolute d-flex flex-column justify-content-center">
            <div class="header-text container ">
                <p class="text-uppercase carefree">Reach out to us</p>
                <div class="row">
                    <div class="col-lg-4">
                        
                        <form action="" class="feedbackform" id="feedbackForm" method="POST">
                            {% csrf_token %}
                            <input class="input" type="text" placeholder="First Name" name="f_name" id="f_name" required>
                            <input class="input" type="text" placeholder="Last Name" name="l_name" id="l_name" required>
                            <input class="input" type="email" placeholder="Email" name="email" id="email" required>
                            <textarea class="input" name="message" id="message" cols="30" rows="2"
                                placeholder="Message" name="message" id="message" required></textarea>
                            <button class="btn btn-success" href="#" role="button">Send Message </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /HEADER -->

</main>
{% endblock %}