{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}



{% block content %}
<main class="container-fluid">
    <!-- HEADER -->
    <div class="header position-relative">
        <div class="header-bg position-absolute">
            <img src="{% static 'img/header-bg.jpg' %}" alt="" class="img-fluid">
        </div>
        <div class="header-overlay position-absolute d-flex flex-column justify-content-center">
            <div class="header-text container ">
                <p class="text-uppercase carefree">Carefree Because</p>
                <p class="heading">We Handle Your <br> <span>Storage</span></p>
                <a class="btn btn-success" href="#" role="button">Get Started <i class="fa fa-long-arrow-right"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- /HEADER -->

    <!-- ABOUT US -->
    <div class="about-us">
        <div class="container py-5">
            <h2>About Us</h2>
            <div class="row">
                <div class="col-7">
                    <div class="about1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam vitae aut quos commodi a odit quo necessitatibus consequatur mollitia obcaecati itaque, ducimus iure sit, fuga aliquam beatae est accusamus ex.
                    </div>
                </div>
                <div class="col-5">
                    <div class="about2">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ABOUT US -->
</main>
{% endblock %}