@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

$opensans: 'Open Sans', san-serif;

$dark: #343334;
$blue: #369FE4;
$green: #79C54E;
$dark-blue: #356B8A;
$grey: #AFB1B0;
$white: #FFFFFF;


html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $opensans;
}
body{
    width: 100%;
    overflow-x: hidden;
}
ul{
    li{
        list-style: none;
    }
}
a{
    color: $blue;
    text-decoration: none;
}
h1, h2, h3, h4, h5{
    color: $blue;
}

.navbar{
    background-color: $dark !important;
    color: $white !important;
    position: fixed;
    z-index: 100;
    width: 100%;
    .navbar-brand{
        font-weight: 800;
        font-size: 1.5rem;
        color: $white;
        font-family: $opensans;
        span{
            color: $blue;
        }
        &:hover{
            color: $white;
        }
    }
    li {
        a {
            color: $white !important;
        }
        li{
            a{
                color: $dark !important;
            }
        }
    }
}

main{
    padding: 0 !important;
    .header {
        width: 100%;
        height: 100vh;
        .header-bg {
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .header-overlay{
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            p{
                color: $white;
            }
            p.carefree{
                letter-spacing: .4rem;
            }
            p.heading{
                font-size: 5rem;
                font-weight: 700;
                span{
                    color: $blue;
                }
            }
        }
    }

    .about-us{
        padding-top: 5rem;
        .first{
            height: 150px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            .box{
                flex-grow: 1;
                min-width: 200px;
                text-align: center;
                background-color: $blue;
            }
        }
        .about2{
            border: 5px solid rgba(54, 158, 228, 0.15);
            height: 100%;
            .about-img{
                max-height: 200px !important;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                
            }
            p {
                font-size: 14px;
                text-align: justify;
                text-justify: auto;
            }
        }
    }

    // .contact-us{
    //     .contact-img{
    //         width: 100%;
    //         overflow: hidden;
    //         height: 600px;
    //         img{
    //             height: 100%;
    //             width: 100%;
    //             object-fit: cover;
    //             opacity: .9;
    //             background-blend-mode: darken;
    //         }
    //     }
    //     .contact-form{
    //         height: 100%;
    //         width: 100%;
    //         color: white;
    //         background-color: $blue !important;
    //         form{
    //             background-color: rgba(255, 255, 255, 0.8);
    //             padding: 1.5rem;
    //             border-radius: .3rem;
    //         }
    //         h2{
    //             color: $white;
    //             font-weight: 800;
    //         }
    //         .input{
    //             background-color: transparent;
    //             border: none;
    //             outline: none;
    //             border-bottom: 1px solid $dark-blue;
    //             width: 100%;
    //             color: $white;
    //             padding-top: 1rem;
    //             padding-bottom: 1rem;
    //             margin-top: 1rem;
    //             &::placeholder{
    //                 color: $dark-blue;
    //             }
    //         }
    //         .btn{
    //             color: $dark-blue;
    //             margin-top: 1rem;
    //             border: 1px solid $dark-blue;
    //             outline: none;
    //             &:hover{
    //                 background-color: $dark-blue;
    //                 color: white;
    //             }
    //         }
    //     }

    // }
    .testimonials{
        background-color: $dark !important;
        h2{
            font-weight: 600;
        }
        // .feedback{
        //     gap: 3rem;
        // }

        .customer{
            min-height: 300px;
            border: 1px solid $white;
            color: $white;
            padding: 1rem;
            margin: 1rem;
            border-radius: .3rem;
            transition: 300ms;
            &:hover{
                background-color: $white;
                color: $dark;
                transform: scale(1.05);
            }
            .pic{
                width: 30%;
                display: flex;
                justify-content: center;
                .pic-holder{
                    height: 90px;
                    width: 90px;
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
            .text{
                width: 70%;
                padding-left: 1rem;
                strong{
                    color: $blue;
                }
            }
        }
    }
}