@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", san-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  color: #369FE4;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  color: #369FE4;
}

.navbar {
  background-color: #343334 !important;
  color: #FFFFFF !important;
  position: fixed;
  z-index: 100;
  width: 100%;
}

.navbar .navbar-brand {
  font-weight: 800;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-family: "Open Sans", san-serif;
}

.navbar .navbar-brand span {
  color: #369FE4;
}

.navbar .navbar-brand:hover {
  color: #FFFFFF;
}

.navbar li a {
  color: #FFFFFF !important;
}

.navbar li li a {
  color: #343334 !important;
}

main {
  padding: 0 !important;
}

main .header {
  width: 100%;
  height: 100vh;
}

main .header .header-bg {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main .header .header-bg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .header .header-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}

main .header .header-overlay p {
  color: #FFFFFF;
}

main .header .header-overlay p.carefree {
  letter-spacing: .4rem;
}

main .header .header-overlay p.heading {
  font-size: 5rem;
  font-weight: 700;
}

main .header .header-overlay p.heading span {
  color: #369FE4;
}

main .about-us {
  padding-top: 5rem;
}

main .about-us .first {
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main .about-us .first .box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 200px;
  text-align: center;
  background-color: #369FE4;
}

main .about-us .about2 {
  border: 5px solid rgba(54, 158, 228, 0.15);
  height: 100%;
}

main .about-us .about2 .about-img {
  max-height: 200px !important;
  overflow: hidden;
}

main .about-us .about2 .about-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .about-us .about2 p {
  font-size: 14px;
  text-align: justify;
  text-justify: auto;
}

main .testimonials {
  background-color: #343334 !important;
}

main .testimonials h2 {
  font-weight: 600;
}

main .testimonials .customer {
  min-height: 300px;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 1rem;
  margin: 1rem;
  border-radius: .3rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

main .testimonials .customer:hover {
  background-color: #FFFFFF;
  color: #343334;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main .testimonials .customer .pic {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .testimonials .customer .pic .pic-holder {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  overflow: hidden;
}

main .testimonials .customer .pic .pic-holder img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .testimonials .customer .text {
  width: 70%;
  padding-left: 1rem;
}

main .testimonials .customer .text strong {
  color: #369FE4;
}
/*# sourceMappingURL=index.css.map */