@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic);

$opensans: 'Open Sans', san-serif;

$dark: #343334;
$blue: #369FE4;
$green: #79C54E;
$dark-blue: #356B8A;
$grey: #AFB1B0;
$white: #FFFFFF;


html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $opensans;
}
body{
    width: 100%;
    overflow-x: hidden;
}
ul{
    li{
        list-style: none;
    }
}
a{
    color: $blue;
    text-decoration: none;
}

.navbar{
    background-color: $dark !important;
    color: $white !important;
    .navbar-brand{
        font-weight: 800;
        font-size: 1.5rem;
        color: $white;
        font-family: $opensans;
        span{
            color: $blue;
        }
    }
    li {
        a {
            color: $white !important;
        }
        li{
            a{
                color: $dark !important;
            }
        }
    }
}

main{
    padding: 0 !important;
    .header {
        width: 100%;
        height: 500px;

        .header-bg {
            height: 100%;
            width: 100%;
            overflow: hidden;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}