.loginform{
  height: 80vh;
}

.col-md-12{
  background-color: #343334;
  box-shadow: 0px 0px 8px black;
  border-radius: 4px;
  width: 380px;
}

.allbtn{
  background-color: #369FE4;
  color: #fff;
  font-size: 14px;
}
.allbtn:hover{
  background-color: #fff;
  color: #369FE4;
}