{% extends 'employee/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

    <div class=" container-fluid stats">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 style="color:#369FE4; font-size: 3rem;"class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>storage<span style="color: white;">site employee</span></strong></h2>
                <p style="color:white; font-size: 20px; font-weight: 600;"class="mx-5 mb-5">View the company's statistics and client delivery and pick up requests.  </p><br>
                <a class="btn " href="{% url 'units' %}" role="button" style="background-color: #369FE4; color: white;">View all units</a>
            </div>
        </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class=" card units-no ">
                    <div class="">
                        <h3 class="">Available Units</h3><hr>
                        <p class="number">{{available.count}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class=" card units-no ">
                    <div class="">
                        <h3>Users</h3><hr>
                        <p class="number">{{users.count}}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card units-no">
                    <div class="">
                        <h3>Occupied units</h3><hr>
                        <p class="number">{{occupied_units.count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!--CLIENT DELIVERY AND PICK UP REQUESTS-->

<div class="container requests mb-5">
    <h2 class="requests-header" style="color: #369FE4;">Pick up and Delivery Services </h2>
    <div class="row text-left">
        <div class="col-md-4 text-dark p-2" >
            <h3>PICKUP REQUEST</h3>
            {% if pickup %}
            {% for booking in pickup %}
            <div class="text-white p-2 mt-2 mb-2" style="background-color: rgb(88, 88, 88);">
                
                <p>Username: {{booking.profile.user.username|capfirst}}</p>
                <p>Location: {{booking.profile.location}}</p>
                <p>Address: {{booking.profile.address}}</p>
                <p>Contact: {{booking.profile.phone_number}}</p>
                
            </div>
            {% endfor %}
            {% else %}
            <div class="text-white p-2" style="background-color: #66a7d3;">
            <h4>No pickup requests</h4>
            </div>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4 text-dark">
            <h3>DELIVERY REQUEST</h3>
            {% if delivery %}
            {% for booking in delivery %}
            <div class="text-white p-2 mt-2 mb-2" style="background-color: rgb(88, 88, 88);">
                
                <p>Username:{{booking.profile.user.username|capfirst}}</p>
                <p>Location:{{booking.profile.location}}</p>
                <p>Address:{{booking.profile.address}}</p>
                <p>Contact:{{booking.profile.phone_number}}</p>
                
            </div>
            {% endfor %}
            {% else %}
            <div class="text-white p-2" style="background-color: #66a7d3;">
            <h4>No delivery requests</h4>
            </div>
            {% endif %}
        </div>
    </div>
    </div>

</div>    
{% endblock %}