{% extends 'base.html' %}
{% block content %}

<div class="container col-sm pt-5" style='background-image:url("https://images.unsplash.com/photo-1623441569387-025265e5846c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");background-size: cover;background-repeat: no-repeat;background-position: center;height: 100%;padding-bottom: 500px;'>
    <div class="row">
        <div class="col-md-4">
            <div class=" card col-sm mt-4">
                <div class="well well-lg p-3"
                    style="text-align: center; box-shadow: 0 7px 8px 0 rgba(0,0,0,0.8), 0 10px 10px 0 rgba(0,0,0,0.8); background-color: grey;">
                    <h3 class="">Available Units</h3>
                    <p>{{available.count}}</p>
                    <hr>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class=" card col-sm mt-4">
                <div class="well well-lg p-3" style="text-align: center; box-shadow: 0 7px 8px 0 rgba(0,0,0,0.8), 0 10px 10px 0 rgba(0,0,0,0.8); background-color: grey;">
                    <h3>Users</h3>
                    <p>{{users.count}}</p>
                    <hr>

                </div>
            </div>
        </div>



        <div class="col-md-4">
            <div class=" card  col-sm mt-4">
                <div class="well well-lg p-3" style="text-align: center; box-shadow: 0 7px 8px 0 rgba(0,0,0,0.8), 0 10px 10px 0 rgba(0,0,0,0.8); background-color: grey;">
                    <h3>Occupied units</h3>
                    <p>{{occupied_units.count}}</p>
                    <hr>


                </div>
            </div>

        </div>
    </div>
    <div id="clientrequest"></div>
    <div class="row mt-5">
        {% for booking in pickup %}
        <div class="col-md">
            <div class=" card mt-44" style="text-align: left;">
                    <div class="delivery" style="background-color: azure;">
                        <h3>Pickup requests</h3>
                        <p>Username:{{booking.profile.user.username}}</p>
                        <p>Location:{{booking.profile.location}}</p>
                        <p>Address:{{booking.profile.address}}</p>
                        <p>Contact:{{booking.profile.phone_number}}</p>
                        <p>Date:{{booking.stat_date}}</p>
                        
                        <hr>
                    </div>
            </div>
        </div>
        {% endfor %}
        {% for booking in delivery %}
        <div class="col-md">
            <div class="card mt-4  " style="text-align: left;">
                <div class="delivery" style="background-color: azure;">
                    <h3>Delivery requests</h3>
                    <p>Username:{{booking.profile.user.username}}</p>
                        <p>Location:{{booking.profile.location}}</p>
                        <p>Address:{{booking.profile.address}}</p>
                        <p>Contact:{{booking.profile.phone_number}}</p>
                        <p>Date:{{booking.stat_date}}</p>
                    <hr>
                </div>
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



{% endblock %}