{% extends 'base.html'%}
{% load static %}
{% block content %}

<div class="container-fluid" >
  <hr>
    <div class="jumbotron card card-image" style=" background-image: url('/static/images/marvin-meyer-SYTO3xs06fU-unsplash.jpg'); background-repeat: no-repeat; background-color: rgba(0, 0, 0, 0.74); background-blend-mode: darken;">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2 style="color:#369FE4; font-size: 3rem;"class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>storage<span style="color: white;">site employee</span></strong></h2>
                <p style="color:white; font-size: 20px;"class="mx-5 mb-5">View a list of all available units<br>
                Help an onsite client book storage<br>
                View the company's statistics</p>
                <a class="btn btn-success" href="#" role="button">View Profile <i class="fa fa-long-arrow-right"aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <hr>

  <div class="row">
    <div class="col-md-12">
      
      <h2 class="allunits-header">All storagesite units </h2>
      <table class="content-table">
        <thead>
          <tr>
            <th>UNIT</th>
            <th>SIZE</th>
            <th>VOLUME</th>
            <th>WEEKLY PRICE</th>
            <th>MONTHLY PRICE</th>
            <th>STATUS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="available">Available</button></td>
          </tr>
          <tr>
            <td>1b</td>
            <td>large</td>
            <td>100*3</td>
            <td>Ksh 7000</td>
            <td>Ksh 14000</td>
            <td><button class="available">Available</button></td>
          </tr>
          <tr>
            <td>2A</td>
            <td>medium</td>
            <td>100*3</td>
            <td>Ksh 7,300</td>
            <td>Ksh 15,000 </td>
            <td><button class="available">Available</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="occupied">Occupied</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="occupied">Occupied</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="available">Available</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="occupied">Occupied</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="available">Available</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="available">Available</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="occupied">Occupied</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="occupied">Occupied</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="available">Available</button></td>
          </tr>
          <tr>
            <td>1A</td>
            <td>Small</td>
            <td>100*3</td>
            <td>KSH 3000</td>
            <td>kSH 7000</td>
            <td><button class="available">Available</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>

  
</div>
{% endblock content%}