@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Yatra+One&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

*{
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", san-serif;
    /* line-height: 1rem; */
    color: #343334;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}
h1, h2, h3, h4, h5, h6{
    color: #369FE4;
}
body{
    background:#ffffff;
}
.wrapper 
{
    width: 85%;
    min-height: 70vh;
}
.prof{
    margin-top: 100px;
    width: 95%;
}

.fa
{
    color:#369FE4;
    padding: 10px;
    font-size: 22px;
}

.addressinfo{
    height: 20vh;
}

.table1
{
    position: relative;
    display: flex;   
}
.table1 .fa
{
    color: #fff;
    font-size: 18px;
}
table, tr{
        background-color: #343334;
        border: 2px white solid;
    }
.context{
    background-color: #fff;
    color: #343334;
}
    
    th{
        padding: 4px ;
        color: white;
       
    }

    /* Profile Page */

.updateForm
{   
    margin-left: 40%;
    margin-top: 30px;
    text-align: center;
    padding-right: 12px;
    padding-bottom: 50px;
    
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 0.5px; /* Some padding */ 
    border: 0.5px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 0px; /* Add a top margin */
    margin-bottom: 4px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

.wrapper .booking_data
{   font-size: 12px;
    margin-left: 15%;
    margin-top: 15%;
    text-align: left;
    padding-right: 10px;
}
.exit{
    margin-left: 20%;
    margin-top: 45%;
    padding-left: 15px;
    padding-right:15px;
    text-align: center;
    background-color: red;
    border-radius: 4px;
}

@media  screen and (max-width:500px) {
    .prof{
        margin-top: 100px;
        width: 100%;
    }
    .wrapper 
{
    width: 100%;
    min-height: 70vh;
}
}