{% extends 'employee/base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="onsite-header">Onsite Booking Form</h2>
      <div class="card onsite">
        <div class="row">
          <div class="col-md-6">
            <h2>Book Unit 2A</h2><hr>
            <ul><hr>
              <li>volume :</li><hr>
              <li>Size :</li><hr>
              <li>Weekly Price :</li><hr>
              <li>Monthly Price :</li><hr>
              <li></li>
            </ul>
            <div>
              <label>Add Client</label>
              <input type="text"><span class="glyphicon glyphicon-plus add" aria-hidden="true" ></span>
            </div>
          </div>
          <div class="col-md-6">
            {% csrf_token %}
            {% bootstrap_form form %}
          </div>  
        </div>
      </div>
    </div>
  </div>  
</div>
{% endblock content%}