{% extends 'employee/base.html'%}
{% load static %}
{% load bootstrap4 %}
{% include 'units.html' %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="onsite-header">Onsite Booking Form</h2>
      <div class="card onsite">
        <div class="row">
          <div class="col-md-6">
            <h2>{{ unit.name}}</h2><hr>
            <ul><hr>
              <li>volume :</li><hr>
              <li>Size :</li><hr>
              <li>Weekly Price :</li><hr>
              <li>Monthly Price :</li><hr>
            </ul>
            

            <a><button class="glyphicon glyphicon-plus  btn-primary"  style="font-size: 25px;"data-toggle="modal" data-target="#myModaluser" >New Client</button></a> 
            <a href="/employee/units"><button class="btn btn-success" style="font-size: 20px; margin-left: 3rem;"> View Units</button></a>
            
            <div class="modal fade text-dark" id="myModaluser" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content p-4">
                      <h1 class="modalhead text-center">Add New User</h1>
                      <form method="post" enctype="multipart/form-data" action="{% url 'onsite_booking' %}">
                          {% csrf_token %}
                          {% bootstrap_form  user_form%}
                          <div class="text-center">
                              <button type="submit" class="btn btn-success text-white">Add User</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>


            </div>
          <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" action="{% url 'onsite_booking' %}">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-success text-white" value="Save">Proceed to pay</button>
            </form> 
          </div>  
        </div>
      </div>
    </div>
  </div>  
</div>
{% endblock content%}