{% extends 'employee/base.html'%}
{% load static %}
{% load bootstrap4 %}
{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="onsite-header">Onsite Booking Form</h2>
      <div class="card onsite">
        <div class="row">
          <div class="col-md-6">
            <h2> <span style="font-weight: 700;">UNIT {{ unit.name }}</span></h2><hr>
            <ul><hr>
              <li>Volume : <span style="font-weight: 700;">{{ unit.volume }}</span> m<sup>3</sup> </li><hr>
              <li>Size : <span style="font-weight: 700;">{{ unit.size}}</span></li><hr>
              <li>Daily Price :  <span style="font-weight: 700;"> KES {{ unit.daily_charge}}</span></li><hr>
              <li>Weekly Price :  <span style="font-weight: 700;">KES {{ unit.weekly_charge}}</span></li><hr>
              <li>Monthly Price :  <span style="font-weight: 700;">KES {{ unit.monthly_charge}}</span></li><hr>
            </ul>
            

            <a class="glyphicon glyphicon-plus  btn btn-primary"  style="font-size: 25px;"data-toggle="modal" data-target="#myModaluser" >New Client</a> 
            <a href="/employee/units"><button class="btn btn-success" style="font-size: 23px; margin-left: 3rem;"> View Units</button></a>
            
            <div class="modal fade text-dark" id="myModaluser" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content p-4">
                      <h1 class="modalhead text-center">Add New User</h1>
                      <form method="post" enctype="multipart/form-data" action="">
                          {% csrf_token %}
                          {% bootstrap_form  user_form%}
                          <div class="text-center">
                              <button type="submit" class="btn btn-success text-white">Add User</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>


            </div>
          <div class="col-md-6">
            <form method="post" enctype="multipart/form-data" action="">
              {% csrf_token %}
              <div id="autocomplete" class="autocomplete mb-3">
                  <input class="autocomplete-input" placeholder="Search client..." name="user_profile"
                      id="user_profile" />
                  <ul class="autocomplete-result-list"></ul>
              </div>
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-success text-white" value="Save">Proceed to pay</button>
            </form> 
          </div>  
        </div>
      </div>
    </div>
  </div>  
</div>

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script src="{% static 'js/scripts.js' %}"></script>

{% endblock content%}