{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %}



{% block content %}



    <div class="available">
        <table class="container table table-active ">
          <br>
          <br>
          <br>
          <br>
      <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Width</th>
      <th scope="col">Height</th>
      <th scope="col">Lenght</th>
      <th scope="col">Daily_charge</th>
      <th scope="col">Weekly_charge</th>
      <th scope="col">Monthly_charge</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
      
  <tbody>
    {% for Unit in units %}
    <tr>
      <th scope="row">{{ Unit.name }}</th>
      <td>{{ Unit.width }}</td>
      <td>{{ Unit.height }}</td>
      <td>{{ Unit.length }}</td>
      <td>{{ Unit.daily_charge }}</td>
      <td>{{ Unit.weekly_charge }}</td>
      <td>{{ Unit.monthly_charge }}</td>
      {% if Unit.occupied %}
        <td><span class="text-danger">Occupied</span></td>
        {% else %}
        <td><span class="text-success">Available</span></td>
        {% endif %}
      <td><a href="{%url 'book' Unit.name %}"><button type="button" class="btn btn-info">book</button></a></td>
    </tr>
    {% endfor %}
    </tbody>
  
  </table>
</div>



{%endblock%}


