{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %} 

{% block content %} 

<link rel="stylesheet" href="/static/css/customer/customer.css">
        <div class="wrapper container">
            <h2 class="text-center font-weight-bold pt-5">BOOKING DETAILS</h2>
            <div class="row detailswapper p-3">
                <div class="col-lg-6 mb-4 ">
                    <div class="card mt-3">
                        <!-- <img class="card-img-top" src="" alt=""> -->
      
                        <div class="card-body">
                            <h3 class="text-center">Unit Details</h3>
                            <p>width:<span class="textp"> {{book.unit.width}}</span></p>
                            <p>height:<span class="textp"> {{book.unit.height}}</span></p>
                            <p>length:<span class="textp"> {{book.unit.length}}</span></p>
                            <p>Size:<span class="textp"> {{book.unit.size}}</span></p>
                            <p>Price:<span class="textp"> {{book.cost}} </span></p>
                            <p>Address:<span class="textp"> {{book.address}}</span></p>
                            <p>Suitable Property:<span class="textp"> {{book.unit.suitable_property}}</span></p>
                            <p>Average Temperature:<span class="textp"> {{book.unit.average_temperature}}</span><span class="textp">&#8451;</span></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card mt-3">
                        <!-- <img class="card-img-top" src="" alt=""> -->
      
                        <div class="card-body">
                            <h3 class="text-center">Booking Details</h3>
                            <p>Start Date:<span class="textp"> {{book.start_date}}</span></p>
                            <p>End Date:<span class="textp"> {{book.end_date}}</span></p>
                            <p>Description:<span class="textp"> {{book.description}}</span></p>
                            <p>Billing Cycle:<span class="textp"> {{book.billing_Cycle}}</span></p>
                            <p>Cost:<span class="textp"> {{book.cost}}</span></p>
                            <p>Total Price:<span class="textp"> {{book.total_cost}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="text-center mt-2 mb-5">
            <a href="{% url 'profile' %}"><button type="button" class="btn btn-info">Go Back</button></a>
        </div>
    </div>

{%endblock%} 
