{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %} 

{% block content %}

<link rel="stylesheet" href="/static/css/customer/customer.css">
    <div class="wrapper container pt-5">
        
        <div class="booking_data">
            <h2>BOOKING DETAILS: {{book.unit}}</h2><br>
            
                <p>width: {{book.unit.width}}</p>
                <p>height: {{book.unit.height}}</p>
                <p>length: {{book.unit.length}}</p>
                <p>Size: {{book.unit.size}}</p><br>
                
                <h5>Price:</h5>
                {% if weekly_charge %}
                    Weekly: {{book.unit.weekly_charge}}
                {% elif monthly_charge %}
                    Monthly: {{book.unit.monthly_charge}}
                {% else %}
                <p>Daily: {{book.unit.daily_charge}}</p>
                {% endif %}

                <p>Address:{{book.address}}</p>
                <p>Suitable Property: {{book.unit.suitable_property}}</p>
                <p>Average Temperature: {{book.unit.average_temperature}}</p>
                <p>Start Date: {{book.start_date}}</p>
                <p>End Date: {{book.end_date}}</p>
                <p>Description: {{book.description}}</p>
                <p>Billing Cycle: {{book.billing_Cycle}}</p>
                <p>Cost: {{book.cost}}</p>
                <P>Total Price: {{book.total_cost}}</P>
        </div>
        <div class="text-center mt-2 mb-5">
            <a href="{% url 'profile' %}"><button type="button" class="btn btn-info">Go Back</button></a>
        </div>
    </div>

{%endblock%}
