{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %}



{% block content %}
    <div class="wrapper">
        
        <div class="booking_data">
            <h2>BOOKING DETAILS:</h2><br>
            <p>Volume: 4ft</p>
            <p>Size:Small</p><br>
            <h5>Price:</h5>
            <p>Weekly -> 3000</p>
            <p>monthly -> 3000</p><br>
            <h5>Description</h5>
            <p>Billing Cycle:</p>
            <p>Gate Access Code:</p>
            <P>Total Price: </P>
        </div>
    
        <button class="exit">check out</button>
    </div>

{%endblock%}