{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
 <div class="container-fluid px-1 px-md-2 px-md-4 py-5 mx-auto"> 
    <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-10 col-md-8 col-sm-11">
            <div class="card border-0">
                <div class="row">
                    <div class="container-fluid col-sm-8 align-items-center d-flex justify-content-center " >
                                <div>   
                                    <form action="" method="post">
                                      {% csrf_token %}
                                      {{form}}
                                      <div class="col text-center">
                                      <button type="submit" class="btn btn-success text-center mt-4  btn-lg">PAY</button>
                                      </div>
                                    </form>
                                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<style>
  .card{
      background-color: rgb(243, 240, 240);
  }
  
</style>

{%endblock%}