{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block content %}
 <div class="container-fluid px-1 px-md-2 px-lg-4 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-sm-11">
            <div class="card border-0">
                <div class="row justify-content-center">
                    <h3 class="mb-4">BOOK UNITA1</h3>
                </div>
                <div class="row">
                    
                    
                    <div class="col-sm-6">
                                <div>  
                                    <form action="" method="post">
                                      {% csrf_token %}
                                      {{form}}
                                      <input type="submit">
                                    </form>
                                  </div>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}