{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<link rel="stylesheet" href="/static/css/customer/customer.css">
<div class="wrapper container-fluid d-flex justify-content-center align-items-center">

<div class="row prof">
  <div class="col-md-3 p-5">
    <img class="rounded-circle account-img d-block mx-auto" src="{{ user.profile.pic.url }}"
    height="200px" width="200px" class="img-fluid">
      <h2 class="font-weight-bold mt-5">{{user.name}}</h2>
      <h5>@{{ user.username }}</h5>
      <p><i class="fa fa-phone mt-2"></i>{{user.profile.phone_number}}</p>
      <p><i class="fa fa-envelope"></i>{{user.email}}</p>
      <p><i class="fa fa-map-marker"></i>{{user.profile.location}}</p>
      <a class="btn btn-success btn-md mt-2" href = "{% url 'update_profile' %}">Edit Profile</a>
  </div>
  <div class="col-md-8 d-flex flex-column p-3">
  <div class="addressinfo">
      <div class="info text-center">
          <h3 class="font-weight-bold">Address</h3>
          <div class="info-data">
           {{user.profile.address}}
          </div>
      </div>
  </div>

  <div class="table-responsive mt-2 flex-column">
    <h3 class="text-center font-weight-bold">My Units</h3>
      <table class="table table-striped">

          <thead>
            <tr>
              <th scope="col">no:</th>
              <th scope="col">Units</th>
              <th scope="col">Start</th>
              <th scope="col">Size</th>
              <th scope="col">Billing Cycle</th>
              <th scope="col">Cost(KES)</th>
              <th scope="col"><i class="fa fa-eye"></i></th>
              <th scope="col"><i class="fa fa-external-link-alt text-danger"></i></th>
            </tr>
          </thead>
          <tbody class="context">
          {% for detail in details %}
            <tr >
              <td>{{ forloop.counter }}.</td>
              <td class="font-weight-bold">{{detail.unit}}</td>
              <td>{{detail.start_date}}</td>
              <td>{{detail.unit.size}}</td>
              <td>{{detail.billing_Cycle}}</td>
              <td>{{detail.cost}}</td>
              <td><a style="color:#369FE4;" href = "{% url 'bookingdetails' detail.id%}">View</a></td>
              <td><span class="text-danger" id="checkout">Check out</span></td>
              <p id='unit_id' style='display:none'>{{detail.unit.id}}</p>
              <p id='booking_id' style='display:none'>{{detail.id}}</p>
            </tr>
            {% empty %}
            <p class="alert alert-info text-center"> No Booked Units Available</p>
            {% endfor %}
          </tbody>
        </table>
  </div>
  
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  var $j = jQuery.noConflict();

  $j('#checkout').click(function(){
  bookingdetails = $j('#booking_id').html()
  unitdetails = $j('#unit_id').html()
  let leave = prompt('Are you sure you want to Move Out? (yes/no)').toLowerCase()

  if (leave == 'yes'){
    $j.ajax({
      'url': '{% url "checkout" %}',
      'type':'GET',
      'data':{
        'booking':bookingdetails,
        'unit':unitdetails
      },
      'dataType': 'json',
      'success': function(data){
        console.log(data)
      }
    })
  }else if( leave == 'no'){
    console.log('stays')
  }else{
    alert('Invalid!, Enter Yes or No')
  }
  })
</script>
{%endblock%}
