{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %} 

{% block content%}
    <link rel="stylesheet" href="/static/css/customer/customer.css">

    <div class="wrapper container pt-4">
        
        <div class="updateForm text-left p-3">
            <h2>Update Profile:</h2>
            <div class="col-md-12">
            <form action="{% url 'update_profile'%}" enctype="multipart/form-data" method="post">
                {%csrf_token%}
                <div class="row w-100">
                    <div class="col-md-6">{%bootstrap_form userform%}</div>
                    <div class="col-md-6">{%bootstrap_form form%}</div>
                </div>                
                <div class="text-center">
                    <button type="submit" class='btn btn-success'>Update</button>
                </div>
            </form>
        </div>
        </div>

    </div>
    
{%endblock%}