{% extends 'all_customer/base.html' %}
{% load static %}
{% load bootstrap4 %} 

{% block content%}
    <link rel="stylesheet" href="/static/css/customer/customer.css">

    <div class="wrapper container pt-4">
        
        <div class="updateForm text-left">
            <h2>Update Profile:</h2>
            <div class="col-md-7">
            <form action="{% url 'update_profile'%}" enctype="multipart/form-data" method="post">
                {%csrf_token%}
                {%bootstrap_form userform%}
                {%bootstrap_form form%}
                <div class="text-center">
                    <button type="submit" class='btn btn-success'>Update</button>
                </div>
            </form>
        </div>
        </div>

    </div>
    
{%endblock%}